<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID"
    version="3.0">
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilServlet</servlet-name>
        <servlet-class>servlets.ProfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilServlet</servlet-name>
        <url-pattern>/profil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupForm</servlet-name>
        <jsp-file>/views/signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupForm</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <jsp-file>/views/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <env-entry>
    <env-entry-name>host</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mysql.info.unicaen.fr</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>database</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>21411850_6</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>username</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>21411850</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>password</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>6J29B20</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>users</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>users</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>services</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>services</env-entry-value>
    </env-entry>
</web-app> 
